:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --text-color: #757575;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  background: #ffffff;
  color: var(--main-text-color);
}

/* ========== COMPONENTS ========== */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-web {
  color: var(--accent-color);
}

.description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
/* ========== END COMPONENTS ========== */

/* ========== HEADER ========== */
.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.menu-link-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.menu-link-contact:hover,
.menu-link-contact:focus {
  color: var(--accent-color);
}
/* ========== END HEADER ========== */

/* ========== HERO ========== */
.hero {
  background: #2f303a;
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  cursor: pointer;
}

.portfolio-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background: #f5f4fa;
  border: 0;
}

.portfolio-link:hover,
.portfolio-link:focus {
  color: #ffffff;
  background: #2196f3;
}
.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-description {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* ========== END HERO ========== */

/* ========== ABOUT ========== */
.about-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* ========== END ABOUT ========== */

/* ========== TEAM ========== */
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.description-team {
  font-size: 16px;
  line-height: 1.19;
}
/* ========== END TEAM  ========== */

/* ========== FOOTER ========== */
.footer-contacts {
  background: #2f303a;
}
.logo-footer {
  color: #ffffff;
}

.contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contact-link-address {
  color: #ffffff;
}
.contact-link-email,
.contact-link-tel {
  color: rgba(255, 255, 255, 0.6);
}
/* ========== END FOOTER  ========== */
